<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="VisualStudioWarnings" ToolsVersion="16.0">
  <Include Path="cppcorecheckarithmeticrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckclassrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckconcurrencyrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckconstrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckdeclrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckstlrules.ruleset" Action="Default" />
  <Include Path="cppcorecheckstylerules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26426" Action="None" />
    <Rule Id="C26432" Action="None" />
    <Rule Id="C26436" Action="None" />
    <Rule Id="C26459" Action="None" />
    <Rule Id="C26461" Action="None" />
    <Rule Id="C26462" Action="None" />
    <Rule Id="C26497" Action="None" />
    <Rule Id="C28252" Action="None" />
    <Rule Id="C28253" Action="None" />
  </Rules>
</RuleSet>